<div class="header-container">
  <h1 *ngIf="!addProblem"> Problems <span *ngIf="!this.selectedTopics || this.selectedTopics.length == 0"> (all)</span></h1>
  <h1 *ngIf="addProblem"> Submit problem </h1>
  <button class="add-btn" (click)="addProblem = !addProblem"> {{ addProblem ? "View all" : "New"}} </button>
</div>

<app-select-problems many="true" (onManySelect)="changeSelectedTopics($event)" (scienceChange)="selectedScience = $event"></app-select-problems>
<br><br>

<mat-accordion *ngIf="!addProblem">
  <mat-expansion-panel *ngFor="let problem of filteredProblems" (click)="fetchProblem(problem)">
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML]="problem.name">
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <hr>
    <div class="loader" *ngIf="!isFetched(problem.name, problem)">LOADING...</div>
    <div *ngIf="isFetched(problem.name, problem)">
      <p [innerHTML]="problem.content"></p>
      <p [innerHTML]="problem.restrains.memory + '  ' + problem.restrains.time"></p>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<app-add-problem *ngIf="addProblem" [problemTopics]="selectedTopics" [problemScience]="selectedScience"></app-add-problem>