<app-select-problems many="true" (onManySelect)="changeSelectedTopics($event)"></app-select-problems>

<h1> Problems <span *ngIf="!this.selectedTopics || this.selectedTopics.length == 0"> (all)</span></h1>
<mat-accordion>
  <mat-expansion-panel *ngFor="let problem of filteredProblems" (click)="fetchProblem(problem)">
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML]="problem.name">
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <hr>
    <div class="loader" *ngIf="!isFetched(problem.name, problem)">LOADING...</div>
    <div *ngIf="isFetched(problem.name, problem)">
      <p [innerHTML]="problem.content"></p>
      <p [innerHTML]="problem.restrains.memory + '  ' + problem.restrains.time"></p>
    </div>
  </mat-expansion-panel>
</mat-accordion>