.problems-topic {
    padding: 2px;
    min-height: 50px;
    display: inline-block; // justify-content: space-between;
    button {
        margin-top: 10px;
        margin-right: 10px;
    }
    button.active {
        // border: 0.5px solid #3f51b5;
        // background-color: rgba(63, 81, 181, 0.05)
        box-shadow: 1px 1px 15px #3f51b5;
        border: 1.2px solid #132584;
    }
}