@import '_sizes.scss';
nav {
    height: $nav-heigth;
    position: relative;
    .fmi-nav {
        background-color: #333;
        width: 100%;
        position: fixed;
        height: $nav-heigth;
        line-height: $nav-heigth;
        .nav-content {
            display: flex;
            justify-content: space-between;
            .fmi-logo {
                cursor: pointer;
                background-image: url('/assets/images/fmi-logo.jpg');
                width: 82px;
                background-size: contain;
            }
        }
    }
    a {
        margin: 0 0 0 10px;
        padding: 10px;
        display: inline;
        background-color: transparent;
        color: white;
    }
    a:hover {
        background-color: #4CAF50;
    }
}

.content {
    background-color: white;
    padding: 10px 0 10px 0;
    min-height: calc(100vh - #{$nav-heigth} - 20px); // height: 100%;
}